{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row g-3 mt-5">
            <form action="{% url 'login' %}" method="post" class="col-md-6 border p-3 mx-auto">
                <h1 class="mb-5 text-center">Login</h1>
                <div class="row g-3">
                    {% for field in form %}
                        <div class="col-md-12">
                            {{ field.label }}
                            {{ field|add_class:'form-control' }}
                            <span class="text-danger">
                            {{ field.errors }}
                            </span>
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <span class="text-danger">
                             {% for error in form.non_field_errors %}
                                 {{ error }}
                             {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 my-3">
                        <button class="btn btn-primary w-100">Login</button>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}