{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row g-3 my-3">
            <form method="post" class="col-md-6 border p-3 mx-auto">
                <h1 class="mb-5 text-center">Register Company</h1>
                <div class="row g-3">
                    <div class="col-md-12 my-2">
                        Company Name
                        {{ form.company_name|add_class:'form-control' }}
                        <span class="text-danger d-block my-2 col-md-12">{{ form.company_name.errors }}</span>
                    </div>
                    <div class="col-md-12 my-2">
                        {{ form.email.label }}
                        {{ form.email|add_class:'form-control' }}
                        <span class="text-danger d-block my-2 col-md-12">{{ form.email.errors }}</span>
                    </div>

                    <div class="col-md-12">
                        {{ form.password1.label }}
                        {{ form.password1|add_class:'form-control' }}
                        <span class="text-danger d-block my-2 col-md-12">{{ form.password1.errors }}</span>
                    </div>

                    <div class="col-md-12">
                        Confirm Password
                        {{ form.password2|add_class:'form-control' }}
                        <span class="text-danger d-block my-2 col-md-12">{{ form.password2.errors }}</span>
                    </div>

                </div>
                <div class="col-md-12">
                     <span class="text-danger d-block my-2">
                         {{ form.non_field_errors }}
                     </span>
                </div>

                {% csrf_token %}
                <div class="row mt-3">
                    <div class="col-md-12 mt-3">
                        <button class="btn btn-primary w-100">Register Company</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}