{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% if formset.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Please correct the errors below.
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="container w-100 p-5">
        <h1 class="my-3">{{ h1 }}</h1>
        <form method="post">
            {{ formset.management_form }}
            {% for form in formset %}

                <div class="row g-3 align-items-center">
                    <div class="col-md-5 mb-3">
                        Skill
                        {{ form.name|add_class:'form-control'|attr:'placeholder:Enter skill name' }}
                           <span class="text-danger">{{ form.name.errors }}</span>
                    </div>

                    <div class="col-md-5 mb-3">
                        Level
                        {{ form.level|add_class:'form-control'|attr:'placeholder:Enter Value between 0 and 100' }}
                         <span class="text-danger">{{ form.level.errors }}</span>
                    </div>

                    <div class="col-auto mx-auto">
                        <div class="form-check">
                            Delete
                            {{ form.DELETE|add_class:'form-check-input' }}
                        </div>
                    </div>
                    <div class="row">
                        <span class="text-danger">
                            {{ form.non_field_errors }}
                        </span>
                    </div>
                    {{ form.id }}


                </div>
            {% endfor %}
            {% csrf_token %}
            <div class="row g-3 my-3">
                <button class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
{% endblock %}