{# if the logged in user is an applicant #}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-fill"></i>
        {% if request.user.applicantprofile.first_name and request.user.applicantprofile.last_name %}
            {{ request.user.applicantprofile.full_name }}
        {% endif %}
    </a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item"
               href="{% url 'applicant profile' request.user.pk %}">Profile</a>

        <li>
            <a href="{% url 'job applications' %}" class="dropdown-item">Job Applications</a>
        </li>

        <li>
            <a href="{% url 'bookmarked jobs' %}" class="dropdown-item">Bookmarked Jobs</a>
        </li>

        <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'logout' %}"><i
                class="bi bi-box-arrow-right"></i>
            Logout</a></li>
    </ul>
</li>
